
{% extends 'base.html' %}


<!-- Bootstrap Select CSS e JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

{% block content %}

    <h1>Data type enrichment</h1>
    <p style="font-family: 'Times New Roman';font-size: medium">
        It is necessary to report which of the Tasks present within the process use the Dataobjects listed below:
    </p>
        <form method="POST" action="{% url 'task_manage_data' systemId=systemId processId=processId%}">

    <table class="table">
        <thead>
        <tr>
            <th>DataObject names</th>

            <th>Task</th>

        </tr>
        </thead>

        <style>


            .bootstrap-select .bs-ok-default::after {
                width: 0.3em;
                height: 0.6em;
                border-width: 0 0.1em 0.1em 0;
                transform: rotate(45deg) translateY(0.5rem);
            }

            .btn.dropdown-toggle:focus {
                outline: none !important;
            }
        </style>

        <tbody>


        {% for data in list_data %}



            <tr>
                <td style="font-family: 'Times New Roman';font-size: larger">
                    {{ data }}<br>
                    Type:{{ data.asset_type }}

                </td>

                <td style="font-family: 'Times New Roman';font-size: medium" ;>
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <label>Select the tasks that use this DataObject</label>

                            <!-- Multiselect dropdown -->
                            <select id="select-{{ data.name|slugify }}" data-data='{{ data.name|slugify }}' name={{ data.bpmn_id }}  multiple data-style="bg-white rounded-pill px-4 py-3 shadow-sm "
                                    class="selectpicker w-100">
                                {% for task in list_task %}
                                    <option value="{{ task }}">{{ task }}</option>
                                {% endfor %}

                            </select><!-- End -->
                        </div>
                    <!-- "data-task='{{ data.name|slugify }}{{ task|slugify }}' tolto-->
                        {% for task in list_task %}

                            <div id="select-{{ data.name|slugify }}{{ task|slugify }}" style="display: none">
                                <label for="typeObj">Input/Output {{ task }}:</label>
                                 <select selected="selected" name={{ type }}  multiple data-style="bg-white rounded-pill px-4 py-3 shadow-sm "
                                    class="selectpicker w-100">
                                     <option value="">Select</option>
                                    <option value="1">Input</option>
                                    <option value="0">Output</option>

                                 </select><br><br></div>
                        {% endfor %}


                                <script>

                                    const tasks = [
                                        {% for task in list_task %}
                                            "{{ task|slugify }}",
                                        {% endfor %}
                                    ];
                                    const data1=[
                                    {% for data3 in list_data %}
                                        "{{ data3.name|slugify }}",
                                    {% endfor %}
                                    ];
                                    var len=tasks.length;
                                    const selectedTasks=[];

                                        $(document).ready(function () {
                                        data1.forEach(function (dataItem) {
                                            $("#select-" + dataItem).on('change', function () {

                                                selectedTasks[dataItem] = $(this).val().map(function (value) {
                                                    function rimuoviAccenti(input) {
                                                      return input.normalize("NFD").replace(/[\u0300-\u036f]/g, '');
                                                    }
                                                    value= rimuoviAccenti(value).replace(/ /g, '-').replace(/[ .()]/g, '').toLowerCase();
                                                    return value;
                                                });
                                                for (var i = 0; i < len; i++) {

                                                    if (selectedTasks[dataItem].indexOf(tasks[i]) >= 0) {
                                                        const id = "select-" + dataItem + tasks[i];
                                                        $("#" + id).show();


                                                    } else {
                                                        const id = "select-" + dataItem + tasks[i];
                                                        $("#" + id).css("display", "none");


                                                    }
                                                }

                                            });
                                        });
                                        });

                                    /*
                                    document.addEventListener("DOMContentLoaded", (event) => {
                                        var select = document.querySelector('select[data-data="{{ data.name }}"]');
                                        select.addEventListener('change',function(){
                                            alert('changed');
                                        });
                                    });
                                    */

                                </script>
                                {% for data2 in task_with_data %}
                                    {% if data|stringformat:"s" == data2.data|stringformat:"s" %}

                                        <script>
                                            var datoSelect = "{{data2.task}}";
                                            console.log(datoSelect)
                                            id_D = {{data}};
                                            console.log(id_D)
                                            console.log($('#id_D'))
                                            $(id_D).find('option[value="{{ data2.task }}"]').prop("selected", true)
                                            $("#id_D").selectpicker('refresh');


                                            var typeObjValue = "{{ type }}";
                                            console.log(typeObjValue);
                                            $("#typeObj").find('option[value="' + typeObjValue + '"]').prop("selected", true);
                                            $("#typeObj").selectpicker('refresh');



                                        </script>
                                    {% endif %} {% endfor %}




                    </div> </td>
            </tr>


        {% endfor %}

        </tbody>


    </table>
            {% csrf_token %}
        <input type="submit"  value="Save Data " class="btn btn-primary btn-sm" style="width: 300px;margin-left: 400px"/><br><br>
        </form>






{% endblock %}