{% extends 'base.html' %}




{% block content %}
    <h1>Data type refinement</h1>

    <input type="hidden" value={{ actors }} id="actors" name="actors">
    <p style="font-family: 'Times New Roman';font-size: medium">
        It is necessary to report the information associated with the Data of asset,
        where this has not been explicitly indicated in the bpmn associated with the process in question.
    </p>
        <input id="InsertData" class="form-control" type="text" name="InsertData" placeholder="Insert DataObject Name" style="width: 200px" />
    <div class="valid-feedback">
        DataObject successfully inserted!
    </div><br><br>
    <input id="buttonAdd" type="submit" value="Insert DataObject" class="btn btn-primary btn-sm"/><br><br>

    <form method="POST" action="{% url 'save_dataobject' systemId=systemId processId=processId%}">

        <table class="table">
        <thead>
        <tr>
            <th>DataObject names</th>
            <th>DataObject Attributes</th>
            <th>Actor</th>
        </tr>
        </thead>
        <p>The data already present in the process {{ nameprocess }} are:</p><br><br>

<script>
    const element = document.getElementById("buttonAdd");
    const element2 = document.getElementById("InsertData");
    const table = document.getElementsByClassName("table")
    element.addEventListener("click", () => {
	console.log("clicked element");
if (element2.value!="") {
    element2.className='form-control is-valid'
    var table_content = `<tr><td style="font-family: 'Times New Roman';font-size: medium;"><B>${element2.value}</B></td> <td style="font-family: 'Times New Roman';font-size: medium;"><i><U style="font-family: 'Times New Roman';font-size: medium;height: 0.2px">This attribute indicates the size of the data:</U></i><br><br>
    <label for="sizeobj">Size:</label> <input type="number" id="sizeobj" name=${element2.value} style="width: 40px" value="1"><label for="orderSize">Order of Size:</label> <select selected="selected" type="text" id="orderSize" name=${element2.value}> <option value="byte">Byte</option> <option value="kb">KB</option> <option value="mb">MB</option> <option value="gb">GB</option> </select><br><br>
    <i><U style="font-family: 'Times New Roman';font-size: medium;height: 0.2px">This attribute indicates whether the data is personal or not:</U></i><br><br>
    <label for="personalObj">Personal or not ?:</label> <select selected="selected" type="text" id="personalObj" name=${element2.value}> <option value="1">Yes</option> <option value="0">No</option> </select><br><br><i><U style="font-family: 'Times New Roman';font-size: medium;height: 0.2px">This attribute indicates the number of instances of the data in the process:</U></i><br><br><label for="loadDependence">Load Dependence:</label> <input type="number" id="loadDependence" name=${element2.value} style="width: 40px" value="1"><br><br> </td>
  <td><label>Select the actor that use this DataObject</label><select id=${element2.value} name=${element2.value}></select></td></tr>`
$(table).find('tbody').append(table_content);
    /*var actors = "{{ actors }}";
for (var actor in actors)
{
    console.log(actor);
}*/

    var actors = JSON.parse('{{ actors| safe }}');
    console.log(actors);

    select = document.getElementById(`${element2.value}`);
    console.log(select)
    for (var i=0; i< actors.length; i++){

    var opt = document.createElement('option');
    opt.value = actors[i].fields.name;
    opt.innerHTML = actors[i].fields.name;
    console.log(opt)
    select.appendChild(opt);
}





}else{
    element2.className='form-control is-invalid'


}
    });



</script>

    <tbody>


        {% for data in list_data %}

            <tr>
               <td style="font-family: 'Times New Roman';font-size: medium; ">
                    <B>{{ data }}</B>
               </td>
            <td style="font-family: 'Times New Roman';font-size: medium;">
                <i><U style="font-family: 'Times New Roman';font-size: small;height: 0.2px">This attribute indicates the size of the data:</U></i><br><br>
                <label for="sizeobj">Size:</label>
                <input type="number" id="sizeobj" name={{ data }} style="width: 40px" value="1">
                <label for="orderSize">Order of Size:</label>
                <select selected="selected" type="text" id="orderSize" name={{ data }}>
                    <option value="byte">Byte</option>
                    <option value="kb">KB</option>
                    <option value="mb">MB</option>
                    <option value="gb">GB</option>
                </select><br><br>
                <i><U style="font-family: 'Times New Roman';font-size: medium;height: 0.2px">This attribute indicates whether the data is personal or not:</U></i><br><br>
                <label for="personalObj">Personal:</label>
                <select selected="selected" type="text" id="personalObj" name={{ data }}>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select><br><br>
                <i><U style="font-family: 'Times New Roman';font-size: medium;height: 0.2px">This attribute indicates the number of instances of the data in the process:</U></i><br><br>
                <label for="loadDependence">Load Dependence:</label>
                  <input type="number" id="loadDependence" name= {{ data }} style="width: 40px" value="1"><br><br>

            </td>
            <td style="font-family: 'Times New Roman';font-size: medium" ;>
                    <div class="row">
                        <div class="col-lg-6 mx-auto">

                            <!-- Multiselect dropdown -->


                            {% if actors_manage_data%}
                                    {% for actor_manage_data in actors_manage_data %}

                                        {% if data.name == actor_manage_data.data.name %}
                                            {{ actor_manage_data.actor.name }}
                                        {% endif %}
                                            {% endfor %}

                            {% else %}
                                 <label>Select the actor that use this DataObject</label>
                        <select id={{ data.bpmn_id }} name={{ data.bpmn_id }}  multiple data-style="bg-white rounded-pill px-4 py-3 shadow-sm "
                                    class="selectpicker w-100">
                            {% for actor in actors %}
                                    <option value="{{ actor.name }}">{{ actor.name }}</option>
                                {% endfor %}
                        {% endif %}

                            </select><!-- End -->

                        </div>

                </td>

        {% endfor %}

        </tbody>


    </table>
            {% csrf_token %}
        <input type="submit"  value="Save Data " class="btn btn-primary btn-sm" style="width: 300px;margin-left: 400px"/><br><br>
    </form>




{% endblock %}